* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    padding: 4rem;
    max-width: 60rem;
    
}

.messages-list {
    list-style-type: none;
    overflow-wrap: break-word;
    font-size: 10rem;
    padding-left: 0;
    padding: 1rem;
    
}

.messages-list-long > li {
    margin-bottom: 1px;
    border: 1px solid rgb(1, 1, 5);
    padding: 1px 2px;
    color: #fafafa;
    
    background-image: linear-gradient(
        141deg,
        #9fb8ad 0%,
        #1f5bdb 45%,
        #2c58e8 70%
    );
}

.messages-list-hard > li {
    margin-bottom: 5px;
    border: 1px solid rgb(37, 31, 2);
    padding: 10px 20px;
    color: #fafafa;
    
    background-image: linear-gradient(
        141deg,
        #b8b69f88 0%,
        #db901fab 25%,
        #d8871d7a 40%
    );
}

.message {
    color: #010a14;
    

}

.user {
    font-weight:600;
}

.longChannel {
    font-weight:700;
    font-size: 50rem;
    background-image: linear-gradient(
        141deg,
        #9fb8ad 0%,
        #1fc8db 51%,
        #2cb5e8 75%
    );

}

.hardChannel {
    font-weight:700;
    background-image: linear-gradient(
        141deg,
        #b8b09f 0%,
        #e2b317 51%,
        #e89d2c 75%
    );

}
